<div>
  <br>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header btn row list-content-title" id="headingTwo" data-toggle="collapse" data-target="#sportCollapse"
        aria-expanded="true" aria-controls="sportCollapse">
        <div class="row">
          <div class="text-justify col">{{ 'hobbies.sport' | translate }}</div>
          <div class="text-right col">
            <fa-icon [icon]="faAngleDoubleDown" [spin]="true"></fa-icon>
          </div>
        </div>
      </div>
      <div id="sportCollapse" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            {{ 'hobbies.sport.description' | translate }}
          </p>
          <p>
            {{ 'developmentProgress' | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header btn row list-content-title" id="headingThree" data-toggle="collapse" data-target="#gardeningCollapse"
        aria-expanded="true" aria-controls="gardeningCollapse">
        <div class="row">
          <div class="text-justify col">{{ 'hobbies.gardening' | translate }}</div>
          <div class="text-right col">
            <fa-icon [icon]="faAngleDoubleDown" [spin]="true"></fa-icon>
          </div>
        </div>
      </div>
      <div id="gardeningCollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            {{ 'hobbies.gardening.description' | translate }}
          </p>
          <p>
            {{ 'developmentProgress' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
