<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <span class="glyphicon glyphicon-hand-right"></span>
          {{ 'hobbies.music' | translate }}
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          {{ 'hobbies.music.description' | translate }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <span class="glyphicon glyphicon-hand-right"></span>
          {{ 'hobbies.sport' | translate }}
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          {{ 'hobbies.sport.description' | translate }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <span class="glyphicon glyphicon-hand-right"></span>
          {{ 'hobbies.gardening' | translate }}
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          {{ 'hobbies.gardening.description' | translate }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>