<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header btn row" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
      aria-expanded="true" aria-controls="collapseOne">
      <div class="row">
        <div class="text-justify col list-content-title">{{ 'hobbies.music' | translate }}</div>
        <div class="text-right col list-content-title">></div>
      </div>
    </div>

    <div id="collapseOne" class="collapse show" arialabelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          {{ 'hobbies.music.description' | translate }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header btn row" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
      aria-expanded="true" aria-controls="collapseTwo" (click)="setCvPdfUrl()">
      <div class="row">
        <div class="text-justify col list-content-title">{{ 'hobbies.sport' | translate }}</div>
        <div class="text-right col list-content-title">></div>
      </div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          {{ 'hobbies.sport.description' | translate }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header btn row" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
      aria-expanded="true" aria-controls="collapseThree" (click)="setCvPdfUrl()">
      <div class="row">
        <div class="text-justify col list-content-title">{{ 'hobbies.gardening' | translate }}</div>
        <div class="text-right col list-content-title">></div>
      </div>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          {{ 'hobbies.gardening.description' | translate }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>