<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">{{ 'cv.skillsOverview' | translate }}
          <span class="glyphicon glyphicon-hand-left"></span>
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <img class="img-responsive" src="assets/images/skills.jpg" alt="Fiacre Nsanzabandi skills overview">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" (click)="setCvPdfUrl()">{{ 'cv.pdf' | translate }}
            <span class="glyphicon glyphicon-hand-left"></span>
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="text-center">
        <div class="btn-group btn-group-lg">
          <button type="button" class="btn btn-primary">{{ 'cv.pdf.download.message' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isPdfVisible">
  <pdf-viewer [src]="cvPdfUrl">
  </pdf-viewer>
</div>