<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header btn row" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
      aria-expanded="true" aria-controls="collapseOne">
      <div class="row">
        <div class="text-justify col list-content-title">{{ 'cv.skillsOverview' | translate }}</div>
        <div class="text-right col list-content-title">></div>
      </div>
    </div>

    <div id="collapseOne" class="collapse show" arialabelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <img class="irounded img-fluid" src="assets/images/skills.jpg" alt="Fiacre Nsanzabandi skills overview">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header btn row" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
      aria-expanded="true" aria-controls="collapseTwo" (click)="setCvPdfUrl()">
      <div class="row">
        <div class="text-justify col list-content-title">{{ 'cv.pdf' | translate }}</div>
        <div class="text-right col list-content-title">></div>
      </div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="text-center">
          <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary" (click)="showCvPdfDownloadMessage()">
              <span class="glyphicon glyphicon-cloud-download"></span>
              {{ 'cv.pdf.download' | translate }}
            </button>
          </div>
          <div class="download-pdf-error-message" *ngIf="isDownloadMessageVisible">
            {{ 'cv.pdf.download.message' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isPdfVisible">
  <pdf-viewer [src]="cvPdfUrl"></pdf-viewer>
</div>