<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="home" (click)="setActualRoute('/home')">{{ 'home' | translate }}</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="cv" (click)="setActualRoute('/cv')">{{ 'cv' | translate }}</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="personalProjects" (click)="setActualRoute('/personalProjects')">{{ 'personalProjects' | translate }}</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="hobbies" (click)="setActualRoute('/hobbies')">{{ 'hobbies' | translate }}</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a [routerLink]="actualRoute" (click)="switchLanguage('en')">
            <span class="flag-icon flag-icon-gb"></span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="actualRoute" (click)="switchLanguage('fr')">
            <span class="flag-icon flag-icon-fr"></span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="actualRoute" (click)="switchLanguage('de')">
          <span class="flag-icon flag-icon-de"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>