<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <span class="glyphicon glyphicon-hand-right"></span>
          NdikoNdaklinkoda
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          {{ 'personalProject.description' | translate }}:
          {{ 'personalProject.description.ndiko.ndaklinkoda' | translate  }}
        </p>
        <p>
          {{ 'personalProject.budget' | translate }}: 500 {{ 'personalProject.euros' | translate  }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <span class="glyphicon glyphicon-hand-right"></span>
          KubahoNezaResidence
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          {{ 'personalProject.description' | translate }}:
          {{ 'personalProject.description.kubaho.neza.residence' | translate  }}
        </p>
        <p>
          {{ 'personalProject.budget' | translate }}: 500 {{ 'personalProject.euros' | translate  }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title list-content-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <span class="glyphicon glyphicon-hand-right"></span>
          YCEA green
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          {{ 'personalProject.description' | translate }}:
          {{ 'personalProject.description.ycea.green' | translate  }}
        </p>
        <p>
          {{ 'personalProject.budget' | translate }}: 60 {{ 'personalProject.euros' | translate  }}
        </p>
        <p>
          {{ 'developmentProgress' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>