<!-- Update my personal projects and add in this, projects that are already created.-->

<div>
  <br>
  <div class="accordion" id="personalProjectAccordionParent">

    <div class="card">
      <div class="card-header btn row list-content-title" id="ndikoNdaklinkodaHeading" data-toggle="collapse"
        data-target="#ndikoNdaklinkodaCollapse" aria-expanded="true" aria-controls="ndikoNdaklinkodaCollapse">
        <div class="row">
          <div class="text-justify col">NdikoNdaklinkoda</div>
          <div class="text-right col">
            <fa-icon [icon]="faAngleDoubleDown" [spin]="true"></fa-icon>
          </div>
        </div>
      </div>
      <div id="ndikoNdaklinkodaCollapse" class="collapse show" arialabelledby="ndikoNdaklinkodaHeading" data-parent="#personalProjectAccordionParent">
        <div class="card-body">
          <p>
            {{ 'personalProject.description' | translate }}:
            {{ 'personalProject.description.ndiko.ndaklinkoda' | translate  }}
          </p>
          <p>
            {{ 'developmentProgress' | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header btn row list-content-title" id="kubahoNezaResidenceHeading" data-toggle="collapse"
        data-target="#kubahoNezaResidenceCollapse" aria-expanded="true" aria-controls="kubahoNezaResidenceCollapse">
        <div class="row">
          <div class="text-justify col">KubahoNezaResidence</div>
          <div class="text-right col">
            <fa-icon [icon]="faAngleDoubleDown" [spin]="true"></fa-icon>
          </div>
        </div>
      </div>
      <div id="kubahoNezaResidenceCollapse" class="collapse" aria-labelledby="kubahoNezaResidenceHeading" data-parent="#personalProjectAccordionParent">
        <div class="card-body">
          <p>
            {{ 'personalProject.description' | translate }}:
            {{ 'personalProject.description.kubaho.neza.residence' | translate  }}
          </p>
          <p>
            {{ 'developmentProgress' | translate }}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
